{% extends 'index.html'%}
{% load static %}

{%block 'content'%}

  <!-- Slider -->
  <section class="home-slider">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE  -->
          {% for slider in sliders %}
            <li data-transition="random" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" > 
                
                {% if slider.image_slide %}
                     <img src="{{ slider.image_slide.url }}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                {% else %}
                    <img src="{% static 'images/testi-bg-app.jpg' %}"  alt="slider"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                {% endif %}
                <!-- LAYERS --> 
                
                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfl tp-resizeme"
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="-90" 
                    data-speed="500" 
                    data-start="800" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.05" 
                    data-endelementdelay="0.05" 
                    data-endspeed="100"
                    style="z-index: 5; font-weight:bold; font-size:56px; color:#000;">
                        {{ slider.text_header_slide }}
                </div>
                
                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfr tp-resizeme" 
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="-30" 
                    data-speed="500" 
                    data-start="1200" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="chars" 
                    data-splitout="none" 
                    data-elementdelay="0.05" 
                    data-endelementdelay="0.05" 
                    data-endspeed="100" 
                    style="z-index: 6; font-weight:bold; max-width: auto; font-size:36px; color:#000;">{{ slider.text2_slide }} 
                </div>
                
                <!-- LAYER NR. 3 -->
                <div class="tp-caption font-crimson font-italic sfb tp-resizeme" 
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="20" 
                    data-speed="500" 
                    data-start="1600" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    style="z-index: 7; font-size:18px; color:#000; max-width: auto; max-height: auto; white-space: nowrap;">{{ slider.text3_slide }}  
                </div>
                
                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfb tp-resizeme" 
                    data-x="center" data-hoffset="0" 
                    data-y="center" data-voffset="100" 
                    data-speed="500" 
                    data-start="2000" 
                    data-easing="Power3.easeInOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    style="z-index: 7; font-size:16px; color:#000; max-width: auto; max-height: auto; white-space: nowrap;"><!--<a href="#." class="btn"> BUY NOW </a>--></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- About Sec -->
    <section class="about-ser pad-t-b-130">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block margin-bottom-20">
            <h4>- {{sectionUnderSliders.section_name}} - </h4>
            <h2>{{sectionUnderSliders.header_section}}</h2>
        </div>
        <div class="intro-small col-md-10 center-auto">
            <p>{{sectionUnderSliders.paragraph_section}}</p>
        </div>
        <div class="row"> 
          
          <!-- Our Mission -->
        {% for sectionUnderSliderIcon in sectionUnderSliderIcons %}
            <div class="col-sm-4" style="margin-top:10px;">
                <article> <i class="fa {{sectionUnderSliderIcon.icon}}" data-wow-delay="0.4s"></i>
                <h3>{{ sectionUnderSliderIcon.header }}</h3>
                <p>{{ sectionUnderSliderIcon.paragraph }}</p>
                <!--<a href="#.">Read More</a> </article>-->
            </div> 
        {% endfor %} 
        </div>
      </div>
    </section>
    
    <!-- Left Background -->
    <div class="main-page-section half_left_layout">
        <div class="main-half-layout half_left_layout studio-bg" 
            {% if sectionTwo.image %}
                style="background: url({{sectionTwo.image}}) center center no-repeat;"
            {% else %}  
                style="background: url(/static/images/about-img-bg.jpg) center center no-repeat;"
            {% endif %}>
        </div>
      <!-- Right Content -->
      <div class="main-half-layout-container half_left_layout">
        <div class="about-us-con">
          <div class="heading">
            <h3 class="v-hr">{{ sectionTwo.header }}</h3>
          </div>
          <p>{{ sectionTwo.paragraph }}</p>
            
            <!-- Skills Bars -->
            <div class="progress-bars"> 
              <!-- Photoshop -->
                {% for prgresses in progress %}
                    <div class="bar">
                        <p>{{ prgresses.item }} </p>
                        <div class="progress" data-percent="{{ prgresses.precent }}%">
                            <div class="progress-bar"> <span class="progress-bar-tooltip">{{ prgresses.precent }}%</span>
                        </div>
                    </div>
                    </div>
                {% endfor %} 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Counter -->
    <div class="counters nolist-style">
      <ul class="row">
        
        <!-- PROPOSALS SENT -->
        {% for number in numbers %}
            <li class="col-sm-3"> <span class="counter" >{{ number.number }}</span>
                <p>{{ number.text }}</p>
            </li>
        {% endfor %}
      </ul>
    </div>
    
    <!-- OUR SERVICES -->
    <section class="our-main-ser pad-t-b-130 padding-bottom-90">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block margin-bottom-20">
          <h4>- {{ sectionThrees.section_name }} - </h4>
          <h2>{{ sectionThrees.header }}</h2>
        </div>
        <div class="intro-small col-md-8 center-auto">
          <p>{{ sectionThrees.paragraph }}</p>
        </div>
        
        <!-- OUR SERVICES LIST -->
        <div class="nolist-style">
          <ul class="row">
            
            <!-- OUR SERVICES LIST -->
            {% for sectionThreeIcon in sectionThreeIcons %}
                <li class="col-sm-4"><i class="fa {{ sectionThreeIcon.icon }}" data-wow-delay="0.4s"></i> <!--<i class="icon-tools animate fadeInUp" data-wow-delay="0.4s"></i>-->
                    <h6>{{ sectionThreeIcon.header }}</h6>
                    <p>{{ sectionThreeIcon.paragraph }}</p>
                </li>
            {% endfor %}
            
          </ul>
        </div>
      </div>
    </section>
    
    <!-- Portfolio -->
    <section class="portfolio port-wrap pad-t-b-130">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block margin-bottom-30">
          <h3> {{portfolio.name_section}} </h3>
          <hr>
        </div>
        <div class="intro-small col-md-8 center-auto">
          <p> {{portfolio.paragraph}}</p>
        </div>
        
        <!-- PORTOFLIO ITEMS FILTER -->
        <ul class="portfolio-filter">
          <li><a class="active" href="#." data-filter="*">All</a></li>
          {% for porfolioItem in porfolioItems %}
            <li><a href="#." data-filter=".{{porfolioItem.name|cut:" "}}">{{porfolioItem.name}} </a></li>
          {% endfor %}
        </ul>
        <!-- Item Start -->
        <div class="items with-space col-3 popup-gallery"> 
          
          {% for porfolioItem in porfolioItems %}
            {% for item in porfolioItem.porfoliodetail_set.all %}
              {% comment %} {{item.text_description}} {% endcomment %}
                <div class="cbp-item portfolio-item {{porfolioItem.name|cut:" "}} ui">
                  <article>
                    <div class="portfolio-image"> <img alt="" src="{{ item.image.url }}">
                      <div class="portfolio-overlay"></div>
                      <div class="position-bottom"> <a href="{{ item.image.url }}" class="img-pop icon" title=""><i class="icon-magnifier"></i></a>
                        <h4><a href="single_project_1.html">{{item.text_description}}</a></h4>
                      </div>
                    </div>
                  </article>
                </div>
            {% endfor %}
          {% endfor %}
          <!-- ITEM -->
         </div>
    </section>
    
    <!-- Tesm Text -->
    <section class="lookin-pro" data-stellar-background-ratio="0.5"
      {% if sectionTwo.image %}
          style="background: url({{sectionFourProfessional.image_background}}) no-repeat;"
      {% else %}  
          style="background: url(/static/image/team-text-bg-1.jpg) no-repeat;"
      {% endif %}
    >
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block white margin-bottom-20">
          <h4>- {{sectionFourProfessional.name_section}} - </h4>
          <h3>{{sectionFourProfessional.header}}</h3>
          <hr>
        </div>
        <div class="intro-small col-md-11 center-auto margin-bottom-0">
          <p>{{sectionFourProfessional.paragraph}}</p>
          
        {% comment %} </div>
        <div class="text-center"> <a href="#." class="btn animate fadeInUp" data-wow-delay="0.4s">Contact Us</a> <a href="#." class="btn animate fadeInUp" data-wow-delay="0.4s">Get a Quote</a> </div> {% endcomment %}
      </div>
    </section>
    
    <!-- OUR TEAM -->
    <section class="our-team pad-t-b-130 padding-bottom-80">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block margin-bottom-30">
          <h3>{{sectionFiveOurTeam.header}}</h3>
          <hr>
        </div>
        <div class="intro-small col-md-8 center-auto">
          <p>{{sectionFiveOurTeam.paragraph}}</p>
        </div>
        
        <!-- Team  -->
        <div class="team-part">
          <div class="row"> 
            
            {% for p in sectionFiveOurTeam.sectionimage_set.all %}
              <div class="col-sm-4">
                <article> 
                  <!-- Team Img -->
                  <div class="team-img animate"> <img class="img-responsive" src="{{ p.image.url }}" alt=""> 
                    
                    <!-- Social
                    <div class="team-hover">
                      <div class="position-center-center"> <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-behance"></i></a> </div>
                    </div> -->
                  </div>
                  
                  <!-- Team Name -->
                  <div class="team-name">
                    <h6>{{p.user_name}}</h6>
                    <p>{{p.department}}</p>
                  </div>
                </article>
              </div>
          {% endfor %}

            
          </div>
        </div>
      </div>
    </section>
    
    <!-- Clients -->
    <section class="testimonial" data-stellar-background-ratio="0.5"
      {% if sectionSixCustomersSay.image_background %}
          style="background: url({{sectionSixCustomersSay.image_background}}) no-repeat;"
      {% else %}  
          style="background: url(/static/images/team-text-bg-2.jpg) no-repeat;"
      {% endif %}
    >
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block white">
          <h3>{{sectionSixCustomersSay.header}}</h3>
          <hr>
        </div>
        
        <!-- Slider -->
        <div class="slider-sec">
          <div id="testi-slide"> 
            
            <!-- Slide -->
            {% for p in sectionSixCustomersSay.customerssay_set.all %}
              <div class="item">
                <div class="tesi-text">

                  {% if p.customer_icon %}
                    <div class="avatar"> <img src="{{ p.customer_icon.url }}" alt="" > </div>
                  {% else %}  
                    <div class="avatar"> <img src="{% static 'images/comments-avatar-2.jpg' %}" alt="" > </div>
                  {% endif %}

                  <p>{{p.paragraph}}</p>
                  <h6>- {{p.customer_name}} -</h6>
                  <span>{{p.customer_name2}}</span> </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    
    <!-- OUR SERVICES -->
    <section class="new-main pad-t-b-130">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block">
          <h3>{{newsSection.header}}</h3>
          <hr>
        </div>
        
        <!-- News Post -->
        <div class="news-post">
          <div class="row">
            {% for p in newsSection.newsimage_set.all %}
              <div class="col-md-4">
                <article > <img class="" width="360px" height="250px" src="{{p.image.url}}" alt="" > <span>By Admin</span> <span>{{p.date}}</span> <a href="#." class="news-tittle">{{p.Header_paragraph}}</a>
                  <p>{{p.text_description}}</p>
                  <!-- <a href="#." class="red-more">Read More</a> </article> -->
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    
    <!-- OUR SERVICES -->
    <section class="client-sec">
      <div class="container"> 
        
        <!-- Heading -->
        <div class="heading-block margin-bottom-30">
          <h3>{{partherns.header}}</h3>
          <hr>
        </div>
        <div class="intro-small col-md-8 center-auto">
          <p>{{partherns.text_description}}</p>
        </div>
        <div class="slide-5 text-center">
          {% for p in partherns.parthernsimage_set.all %}
            <div><img  height="95" src="{{p.icon}}" alt="" ></div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
  <!-- End Content --> 


{%endblock%}